* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #d3e1fe;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

#wrapper {
  width: 760px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}

.banner {
  max-width: 760px;
}

.banner img {
    width: 100%;
  border-radius: 20px 20px 0 0;

}

#content {
    padding: 40px 20px;
}

#content h1 {
    font-weight: 720;
}

.desc {
    font-size: 18px;
    font-weight: 600;
    color: grey;
    width: 500px;
    margin: 20px auto;
    line-height: 28px;
}

.music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background-color: #F3F6FF;
    padding: 30px;
    border-radius: 20px;
    width: 500px;
}

.music .change{
    font-size: 16px;
    font-weight: 800;
    color: #1500FF;
}

.music .icon {
    background-color: #E0E5FB;
    border-radius: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 26px;
}

.music .icon i {
    color: gray;
}

.music h3 {
    font-weight: 800;
    font-size: 20px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: gray;
    display: block;
    margin-top: 10px;
}
.pay {
    width: 500px;
    background-color: #3729DE;
    border-radius: 12px;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    box-shadow: 10px 10px ;
}
a.exit {
    margin: 20px 0 30px;
    font-weight: 800;
    font-size: 18px;
    color: gray;
    display: block;
}

a.exit, .pay {
    cursor: pointer;
}
