body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #111;
    background-color: #e8e8e8;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    background-color: #fff;
    width: 70vw;
    min-height: 90vh;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    z-index: 1000;
}

#wrraper {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    height: 100px;
    position: relative;
}

.header__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__logo i{
    font-size: 30px;
    margin-right: 8px;
}

.header__logo__name{
    text-transform: capitalize;
    font-weight: 700;
}
.header__main-menu{
    margin-bottom: 0;
}


.header__main-menu li a{
    text-decoration: none;
    color: #111;
    font-weight: 550;
    padding: 38px 15px;
    transition: all 0.25s ease-in-out;
}

.header__main-menu li:hover a {
    color: #ccc;
}

.box {
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 24px;
    border-radius: 8px;
    border: 2px solid #000;
    outline: none;
}

.box:focus {
    outline: none;
    background-color: rgba(204, 204, 204, 0.322);
}

.box.active {
    background-color: black;
    color: #fff;
    margin-right: 16px;
}

#wp-content {
    margin-top: 10px;
}

.wp-content-up__left{
    text-transform :capitalize;
}
.wp-content-up__left__frontpage{
    font-weight: 600;
    font-size: 27px;
    position: relative;
}

.wp-content-up__left__frontpage i {
    position: absolute;
    top: 55%;
    right: 33%;
    font-size: 50px;
 
}

.wp-content-up__left__desc{
    margin: 20px 0;
    line-height: 1.5;
    text-transform: none;
    font-size: 18px;
    font-weight: 550;
    color: rgb(97, 93, 93);
}

.wp-content-up__left__desc{
    margin: 12px 0 40px;
}

.wp-content-up__right{
    flex: 70%;
    overflow: hidden;
    border-radius: 150px 0px 100px 100px;
}

.wp-content-up__right img {
    background-color: #ece7e7b7;
    padding: 60px 0;
}

.wp-content-down{
    margin-top: 60px;
    display: flex;
    padding-bottom: 30px;
    
}

.wp-content-down__sub{
    flex: 30%;
}

.wp-content-down__sub p {
    font-weight: 550;
    color: rgb(122, 122, 122);
    margin: 30px 0;
}

.list-personnel{
    position: relative;
    display: flex;
}

i.next {
    display: block;
    position: absolute;
    right: -20px;
    top: 37%;
    font-size: 18px;
    height: 36px;
    width: 36px;
    color: rgb(82, 82, 82);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: -6px 2px 10px;
    cursor: pointer;
    border: 1px solid rgb(189, 162, 162);
}

.item-personnel{
    display: flex;
    border: 2px solid rgba(138, 138, 138, 0.507);
    align-items: flex-start;
    width: 150px;
    height: 160px;
    overflow: hidden;
    margin-left: 30px;
    position: relative;
    border-radius: 24px;
    cursor: pointer;
}

.item-personnel span {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    width: 30px;
    margin: 10px;
}

.item-personnel img {
    min-width: 100%;
    height: auto;
}

